[user]
	name = Ferran Pedrera
	email = ferran.pedrera@technica-engineering.de
[core]
	editor = nvim
[diff]
	tool = meld
[alias]
	ec = config --global -e
	co = checkout
  	br = branch
  	cm = commit -am
  	st = status
  	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  	save = !git add -A && git commit -m 'SAVEPOINT'
  	wip = commit -am "WIP"
  	undo = reset HEAD~1 --mixed
  	amend = commit -a --amend
  	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    l1 = log -n 1
  	f = "!git ls-files | grep -i"
  	grep = grep -Ii
  	gr = grep -Ii
 	gra = "!f() { A=$(pwd) && TOPLEVEL=$(git rev-parse --show-toplevel) && cd $TOPLEVEL && git grep --full-name -In $1 | xargs -I{}   echo $TOPLEVEL/{} && cd $A; }; f"
 	la = "!git config -l | grep alias | cut -c 7-"
  	lasttag = describe --tags --abbrev=0
  	lt = describe --tags --abbrev=0
  	ours = "!f() { git co --ours $@ && git add $@; }; f"
  	theirs = "!f() { git co --theirs $@ && git add $@; }; f"
	subinit = "submodule update --init --recursive --progress"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = store --file ~/Desktop/test/creds
[http]
	sslverify = false
[color]
	ui = auto
